{% extends 'main/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container-fluid" id="bg-login">
    <div class="row">
        <div class="col-md-8">
            <h1>About</h1>
            <p>This app helps people keep in contact with people from the same neighbourhood</p>
            <h2>Why us</h2>
            <ol>
                <li>Notifications on neighbourhood stories</li>
                <li>Keep in contact with neighbors</li>
                <li>Know your neighbors</li>
                <li>Advertise your buisness in the neighbourhood</li>
            </ol>
        </div>
        <div class="col-md-4">
    <div class="content-section">
        <form action="" method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Neighborhood-info-center | Log in</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Log in</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">Dont have an Account<a href="{% url 'register' %}" class="ml-2">Sign up</a></small>
        </div>
    </div>
</div>
<!-- <div class="col-md-4"></div> -->
</div>
</div>
{% endblock %}