{% extends 'main/base.html' %}

{% block content %}

    <div class="container" id="bg-search">
            <div class="row">
                    {% if buisnesses%}
                      <h2>Found {{ buisnesses|length }} of searched term {{message}}</h2>
                    {% else %}
                      <h2> Found 0 buisnesses for the search term {{message}}</h2>
                    {% endif %}
                
                  </div>
                
                  <div class="row">
                
                  {% if buisnesses %}
                    {% for buisness in buisnesses %}
                    <div style="color: white; border:white;">
                      <div class="col-sm-6 col-md-6">
                        <h2>Name: {{ buisness.buisness_name }}</h2>
                        <p>Number: {{ buisness.buisness_number }}</p>
                        <p>Neighborhood: {{ buisness.neighborhood.name }}</p>
                      </div>
                    </div>
                    {% endfor %}
                  {% endif %}
                  </div>
    </div>

{% endblock %}